{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="landingPage">
    <img class="img1" src="{{ asset('image/homeImage1.webp') }}" alt="Image abstraite">
    <div>
        <h1>Blink-Articles</h1>

    </div>
    <img class="img2" src="{{ asset('image/homeImage2.webp') }}" alt="Image abstraite">



</div>

{% endblock %}
