{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<div class="containerMade">
    <h1>Nouveau Commentaire</h1>
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button class="btn btn2">Suivant</button>
        {{ form_end(form) }}

</div>
{% endblock %}
