{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}

    <div class="containerMade">
        <div class="row">
            {% for video in videos %}
                <div class="videoPageVideo col-lg-4 col-sm-12">
                    {% if app.user %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {% include 'video.html.twig' with  {
                                'route_name':'delete_video',
                                'videoClass':'imageAdded ',
                                'video':video,
                                'param':{"id":video.id},
                                'aClass':''} %}
                        {% endif %}
                    {% else %}
                        {% include 'video.html.twig' with  {
                            'route_name':'',
                            'videoClass':'imageAdded ',
                            'video':video,
                            'param':'',
                            'aClass':''} %}
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </div>



{% endblock %}
