.containerMadeShowArticle {
    padding: 5vh 2vw;
}

/*===============HEADER ==================*/

.headerArticle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 38vh;
    padding: 0;
    background: transparent;
}

.rightHeaderArticle {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 4vh;
}

.rightHeaderArticle h1 {
    font-size: 1.8em;
}

.imageFondArticle {
    height: 100%;
    width: 80%;
    object-fit: cover;
    object-position: center;

}

.artcielSeparatorHeaderBody {
    margin-block: 7vh;
}

/*===============CATEGORY ==================*/

.articleCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-block: 5vh;
}

.articleCategoryName {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
}

/*===============ARTICLE ==================*/

.articleContainer {
    background-color: var(--lighBleu);
    padding: 2em;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.articleBodyContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 5vh;
    height: 100vh;
    border-radius: 50px;
}

/*===============BODY GENERAL ==================*/


.articleBodySubtitle {
    margin-block: 2.5vh;
}

.articleBodyParagraphe {
    font-weight: 400;
}

.articleBody2Img img, .articleBody1Img img, .articleBody3Img img {
    height: 100% !important;
}

/*===============BODY1==================*/
.articleBodyContainer .articleBody1 {
    width: 25%;

}

.articleBodyContainer .articleBody1Section1 {
    height: fit-content;
}

.articleBodyContainer .articleBody1Section2 {
    height: 30%;
}

.articleBodyContainer .articleBody1Img {
    height: 55%;
}


.articleBodyContainer .articleBodyAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.articleBodyContainer .articleBodyAuthor div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

.articleBodyContainer .articleBodyAuthor div p {
    color: var(--dahsWrite);
    margin: 0;
}

.articleBodyContainer .articleBodyAuthor div span {
    color: var(--greyWrite);
    font-size: 0.8em;
}

.articleBodyContainer .articleBodyAuthorMobil {
    display: none;
}

/*===============BODY2==================*/

.articleBodyContainer .articleBody2 {
    width: 50%;
}

.articleBodyContainer .articleBody2Img {
    height: 70% !important;
}

/*===============BODY3==================*/
.articleBodyContainer .articleBody3 {
    width: 25%;

}

.articleBodyContainer .articleBody3Section1 {
    height: 20%;
    background: var(--beige);
    padding: 2vh 1vw;
    position: relative;
}

.articleBodyContainer .articleBody3Section2 {
    height: 80%;
}

.articleBodyContainer .articleBody3Img {
    height: 25%;
}

.articleBodyContainer .articleBody3Section1Line {
    width: 70%;
    height: 2px;
    background: black;
    position: absolute;
    right: 0%;
    top: 14%;
}

/*===============AUTRE==================*/
 .commentContainer{
    width: 100% ;
}

.articleContainer p {
    font-size: .9em;
    color: gray;
}

.backArrow {
    font-size: 1em;
    font-weight: 800;

}

.articleBody {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.articleContent {
    width: 70%;
    padding: 3em 1em;
}



/* FILE PAGE  */
.fileContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fileFormContainer {
    width: 40%;
}

.fileTypeContainer {
    width: 54%;
    display: flex;
    flex-direction: column;

}

.videoTypeContainer, .audioTypeContainer, .imageTypeContainer {
    display: flex;
    flex-direction: column;
}

.audioType {

    display: flex;
    gap: 2vh;
    flex-direction: column;
}

.deleteFileType {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--grey);
    border-radius: 30px;
    padding: 0;
    margin: 1vh;
}

/* =======================================================SIMPLE ARTICLE========================*/
.simpleArticle{
    position: relative;
    padding: 5vh 5vw;
}
.littleInnerContainer {
    padding: 2vh;
}
.simpleArticle .dropdown {
    position: absolute; right: 4%;
    top:  2%;
}
.simpleArticle .articleHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8vh;
}
.simpleArticle .articleHeader p{
    width: 60%;
}
.simpleArticle h1{
    margin-bottom: 2vh;
    color: var(--darkBeige);
    font-size: 44px;
}
.simpleArticle p {
    margin-bottom: 3vh;
}
.simpleArticle .boutonsArticle {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1vw;

}
.simpleArticle img{
    width: 100%;
}
.simpleArticle .articleBodyContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11vh;
}
.simpleArticle > div> div , .simpleArticle > div> a {
    width: 45%;
}

@media only screen and (max-width: 1000px) {
    .simpleArticle .articleHeader p{
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .simpleArticle .articleBodyContent{

        flex-direction: column;
    }
    .simpleArticle > div> div , .simpleArticle > div> a {
        width: 100%;
    }
    .simpleArticle .articleHeader{

        margin-bottom: 4vh;
    }

}

@media only screen and (max-width: 500px) {
    .simpleArticle h1{
        font-size: 32px;
    }
    .simpleArticle {
        padding: 9vh 5vw;
    }

}

@media only screen and (max-width: 360px) {
    .simpleArticle h1{
        font-size: 28px;
    }


}

/*===============ARTICLE DOUBLE PARAGRAPHE==================*/

.articleBodyContainerDoubleP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    padding: 0vh 3vw;
    height: 100vh;
    border-radius: 50px;
    margin-bottom: 10vh;

}

.articleBodyContainerDoubleP .boutonsArticle {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: absolute;
    right: 2%;
    bottom: -9%;
}

.articleBodyContainerDoubleP p {
    margin: 0;
}

.articleBodyContainerDoubleP .backArrow {
    position: absolute;
    top: 2%;
    left: 1.5%;
}

.articleBodyContainerDoubleP .dropdown {
    position: absolute;
    top: 2%;
    right: 1.5%;
}

/*===============BODY1========*/
.articleBodyContainerDoubleP .articleBody1 {
    width: 30%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.articleBodyContainerDoubleP .articleBody1Section1 {
    height: 35%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4vh;
}

.articleBodyContainerDoubleP .articleBody1Section2 {

    height: 65%;
}

.articleBodyContainerDoubleP .articleBody1Section2img img, .articleBodyContainerDoubleP .articleBody3Section2img img {
    border-radius: 20px 20px 0px 0px;
}

/*===============BODY2========*/
.articleBodyContainerDoubleP .articleBody2 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.articleBodyContainerDoubleP .articleBody2Section1 {
    height: 70% !important;
}

.articleBodyContainerDoubleP .articleBody2Section2 {
    height: 30%;

    padding-block: 4vh;
}

.articleBodyContainerDoubleP .articleBody2Section2img img {
    border-radius: 0px 0px 20px 20px;
}

/*===============BODY3========*/
.articleBodyContainerDoubleP .articleBody3 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.articleBodyContainerDoubleP .articleBody3Section1 {
    height: fit-content;
    padding: 4vh 1vw;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.articleBodyContainerDoubleP .articleBody3Section2 {

    height: 65%;
}

/*====COMMENTAIRES======*/

.doubleArticleContainer {
    padding: 2vh 3vw;
}

.doubleArticleContainer .commentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 1vh;


}

.commentContainer .card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 27%;
    border: 0;
    margin-inline: 1vw;
}

.cardContentImages {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.card .carContent {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 1vw;
    border: 1px solid var(--dash);

}

.cardAuthorAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;

}

.cardAuthorAuthor > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.card .cardAuthor {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--dash);
    color: var(--atchoum);
    padding: 1vh;
}

.card .cardAuthor .dropdown .btn {
    border: 1px solid black;
    color: black;
}

.card .cardAuthor img {
    width: 74px;
    padding: 1vh;
    height: fit-content;
}

.imageComment {
    width: 22%;
    margin-inline: 0.5vw;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 900px) {


    .containerMadeShowArticle .imageFondArticle {
        display: none;
    }

    .rightHeaderArticle {
        width: 78%;

    }

    .articleBodyContainer .articleBody3Section1Line {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .containerMadeShowArticle .rightHeaderArticle {
        width: 100%;
        padding-top: 0vh;
    }

    .containerMadeShowArticle .containerMade {
        padding: 10vh 5vw;
    }

    .containerMadeShowArticle .articleBodyContainer {
        height: fit-content;
        width: 100%
    }

    .containerMadeShowArticle .headerArticle {
        flex-direction: column;
        height: fit-content;
        margin-top: 2vh;
    }

    .containerMadeShowArticle .rightHeaderArticle h1 {
        font-size: 20px;

        font-weight: 600;
    }

    p {
        font-size: 15px;
    }

    .containerMadeShowArticle .articleBody1Img {
        width: 100%;
    }

    .containerMadeShowArticle .imageFondArticle {
        display: none;
    }

    .containerMadeShowArticle .articleBodyContainer {
        flex-direction: column;
    }

    .containerMadeShowArticle .articleBody1, .containerMadeShowArticle .articleBody3, .containerMadeShowArticle .articleBody2 {
        width: 100%;
    }

    .containerMadeShowArticle .articleCategoryName {
        font-size: 13px;
    }

    .containerMadeShowArticle .articleCategory {
        flex-wrap: wrap;
    }

    .containerMadeShowArticle .artcielSeparatorHeaderBody {
        display: none;
    }

    .containerMadeShowArticle .settingsDropdown {
        position: absolute;

        right: 2%;
        font-size: 1em;
        font-weight: 800;
        top: 12vh;
    }

    .containerMadeShowArticle .articleBody1Section2 {
        display: none;
    }

    .containerMadeShowArticle .articleBodyAuthorMobil {
        display: flex;
        margin-block: 4vh;
    }

    .containerMadeShowArticle .articleBody3Section1 {
        display: none;
    }
}

